.blogContainer {
  margin: 2rem 2rem;
}

.blogContainer h1 {
  margin: 2rem 0;
}

.blogContainer h2 {
  margin: 2rem 0;
}
.blogContainer h3 {
  margin: 2rem 0;
}
.blogContainer h4 {
  margin: 2rem 0;
}
.blogContainer h5 {
  margin: 2rem 0;
}
.blogContainer h6 {
  margin: 2rem 0;
}

.blogContainer img {
  display: inline-block;
  max-width: 100%;
  margin: 1rem auto;
}

@media (min-width: 768px){
  .blogContainer {
    margin: 2rem 10rem;
  }
}