.cardContainer {
  padding-top: 20px;
  width: 100%;
  display: grid;
  justify-content: center;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.cardTitle {
  width: 80%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

@media (min-width: 640px) {
  .cardContainer {
    grid-template-columns: 1fr;
  }
}

@media (min-width: 1024px) {
  .cardContainer {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1280px) {
  .cardContainer {
    grid-template-columns: 300px 300px 300px 300px;
  }
}
