@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #111827;
  --main-primary-color: #d97706;
  --main-secondary-color: #f3f4f6;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html.normal-scroll {
  scroll-behavior: auto;
}
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #111827;
  color: #f3f4f6;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--main-bg-color);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-primary-color);
  border-radius: 100px;
}

main {
  max-width: 1200px;
  margin: 0 1.5rem;
}

.category-menu::-webkit-scrollbar {
  width: 0px;
}

.cardGallerySection {
  padding-top: 5rem;
}

@media (min-width: 768px) {
  main {
    margin: 0 5rem;
  }
}

@media (min-width: 1024px) {
  main {
    margin: 0 auto;
  }
}
