@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --main-bg-color: #111827;
  --main-primary-color: #d97706;
  --main-secondary-color: #f3f4f6;
}
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html.normal-scroll {
  scroll-behavior: auto;
}
body {
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
  background-color: #111827;
  color: #f3f4f6;
}

.butto_global_float {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 100;
}
.butto_global_float button {
  background-color: var(--main-primary-color);
  color: var(--main-secondary-color);
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  font-size: 1rem;
  padding: 0.5rem 1rem;
  border-radius: 0.5rem;
  font-weight: bold;
}
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background-color: var(--main-bg-color);
  border-radius: 100px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--main-primary-color);
  border-radius: 100px;
}

main {
  max-width: 1200px;
  margin: 0 1.5rem;
}

.category-menu::-webkit-scrollbar {
  width: 0px;
}

.cardGallerySection {
  padding-top: 5rem;
}

@media (min-width: 768px) {
  main {
    margin: 0 5rem;
  }
}

@media (min-width: 1024px) {
  main {
    margin: 0 auto;
  }
}

.shake {
  animation-name: shake;
  -webkit-animation-name: shake;
  -moz-animation-name: shake;
  animation-duration: 5s;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  animation-iteration-count: infinite;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
}

@keyframes shake {
  0% {
    transform: translate(1px, 1px) rotate(0deg);
  }
  10% {
    transform: translate(-1px, -2px) rotate(-1deg);
  }
  20% {
    transform: translate(-3px, 0px) rotate(1deg);
  }
  30% {
    transform: translate(3px, 2px) rotate(0deg);
  }
  40% {
    transform: translate(1px, -1px) rotate(1deg);
  }
  50% {
    transform: translate(-1px, 2px) rotate(-1deg);
  }
  60% {
    transform: translate(-3px, 1px) rotate(0deg);
  }
  70% {
    transform: translate(3px, 1px) rotate(-1deg);
  }
  80% {
    transform: translate(-1px, -1px) rotate(1deg);
  }
  90% {
    transform: translate(1px, 2px) rotate(0deg);
  }
  100% {
    transform: translate(1px, -2px) rotate(-1deg);
  }
}
