.navBar {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: 4rem;
  padding: 1rem 1rem;
  font-weight: bold;
  background-color: #111827;
  /* border-bottom: 1px solid #c4c4c4; */
  color: #f3f4f6;
  z-index: 100;
  box-shadow: 0 5px 25px rgba(0, 0, 0, 0.25);
  transition: 0.5s;
}

.navBar .navBarLogo {
  font-size: 1.5rem;
}
.navBar .navBarContainer {
  display: none;
  position: relative;
}
.navBar .navBarContainer li {
  margin: 0 1rem;
  cursor: pointer;
  list-style: none;
}
.navBarContainer .active {
  color: #d97706;
}

.navBarContainer li a {
  text-decoration: none;
  position: relative;
  display: inline-block;
  padding: 10px 30px;
  z-index: 100;
  backdrop-filter: blur(15px);
}

.markerHeroPage {
  position: absolute;
  top: 0;
  transition: 0.5s;
  z-index: 1;
  left: 9%;
}
.markerHeroPage::before {
  content: "";
  position: absolute;
  top: -5px;
  width: 30px;
  height: 10px;
  /* transform: translateX(-50%); */
  background: #d97706;
  box-shadow: 0 0 15px #d97706, 0 0 30px #d97706, 0 0 45px #d97706,
    0 0 60px #d97706;
  border-radius: 10px;
}
.iconHamburger {
  cursor: pointer;
  height: 2.5rem;
  color: #d97706;
}

/* menu movile */

.navBarMenuMovil {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #111827;
  /* background: rgba(0, 0, 0, 0.25); */
  z-index: 100;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.5s;
  /* display: none; */
}
.navBarMenuMovil .navBarContainerMovil li {
  list-style: none;
}
.navBarContainerMovil li a {
  display: block;
  position: relative;
  text-decoration: none;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  transition: 0.5s;
  font-size: 3rem;
  transition-delay: 0.3s;
}

.navBarContainerMovil li a:hover {
  color: rgba(255, 255, 255, 0.1);
  transition-delay: 0s;
}

.navBarContainerMovil li a::before {
  content: attr(data-text);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  font-size: 1rem;
  color: #d97706;
  text-shadow: 0 0 10px #d97706, 0 0 20px #d97706, 0 0 60px #d97706;
  font-weight: 500;
  letter-spacing: 25px;
  white-space: nowrap;
  opacity: 0;
  transition: 0.3s;
}

.navBarContainerMovil li:hover a::before {
  opacity: 1;
  letter-spacing: 6px;
  transition-delay: 0.5s;
}
.iconClose {
  position: absolute;
  right: 10px;
  top: 10px;
  cursor: pointer;
  height: 3rem;
  color: #d97706;
}
/* media querys */
@media (min-width: 768px) {
  .navBar {
    padding: 1rem 5rem;
  }
  .navBar .navBarLogo {
    font-size: 2rem;
  }
}
@media (min-width: 1024px) {
  .iconHamburgerContainer {
    display: none;
  }
  .navBar .navBarContainer {
    display: flex;
  }
}
